@font-face {
  font-family: 'font';
  src:
    url('./fonts/font.ttf?i5ix3z') format('truetype'),
    url('./fonts/font.woff?i5ix3z') format('woff'),
    url('./fonts/font.svg?i5ix3z#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-icon-add:before {
  content: "\e145";
}
.k-icon-arrow_drop_down:before {
  content: "\e5c5";
}
.k-icon-arrow_drop_up:before {
  content: "\e5c7";
}
.k-icon-cached:before {
  content: "\e86a";
}
.k-icon-phone:before {
  content: "\e0cd";
}
.k-icon-cancel:before {
  content: "\e5c9";
}
.k-icon-check_circle:before {
  content: "\e86c";
}
.k-icon-error:before {
  content: "\e000";
}
.k-icon-keyboard_arrow_down:before {
  content: "\e313";
}
.k-icon-keyboard_arrow_left:before {
  content: "\e314";
}
.k-icon-keyboard_arrow_right:before {
  content: "\e315";
}
.k-icon-keyboard_arrow_up:before {
  content: "\e316";
}
.k-icon-notifications:before {
  content: "\e7f4";
}
.k-icon-person:before {
  content: "\e7fd";
}
.k-icon-visibility:before {
  content: "\e8f4";
}
.k-icon-unfold_more:before {
  content: "\e5d7";
}
.k-icon-check:before {
  content: "\e90b";
}
.k-icon-minus:before {
  content: "\e90e";
}
.k-icon-minus-square:before {
  content: "\e90f";
}
.k-icon-plus-square:before {
  content: "\e911";
}
.k-icon-x:before {
  content: "\e912";
}
.k-icon-cloud:before {
  content: "\e913";
}
.k-icon-star:before {
  content: "\e914";
}
.k-icon-settings:before {
  content: "\e915";
}
.k-icon-pen:before {
  content: "\e916";
}
.k-icon-like:before {
  content: "\e917";
}
.k-icon-calendar:before {
  content: "\e918";
}
.k-icon-dots-three-horizontal:before {
  content: "\e904";
}
.k-icon-circle-with-minus:before {
  content: "\e905";
}
.k-icon-circle-with-plus:before {
  content: "\e906";
}
.k-icon-lock-open:before {
  content: "\e907";
}
.k-icon-lock:before {
  content: "\e908";
}
.k-icon-search:before {
  content: "\e909";
}
.k-icon-share:before {
  content: "\e90c";
}
.k-icon-signal:before {
  content: "\e90d";
}
.k-icon-home:before {
  content: "\e90a";
}
.k-icon-profile:before {
  content: "\e923";
}
.k-icon-qrcode:before {
  content: "\e938";
}
.k-icon-location:before {
  content: "\e948";
}
.k-icon-alarm:before {
  content: "\e950";
}
.k-icon-bubbles4:before {
  content: "\e970";
}
.k-icon-user:before {
  content: "\e971";
}
.k-icon-spinner:before {
  content: "\e97a";
}
.k-icon-stats-bars:before {
  content: "\e99c";
}
.k-icon-bin:before {
  content: "\e9ac";
}
.k-icon-switch:before {
  content: "\e9b6";
}
.k-icon-list:before {
  content: "\e9bb";
}
.k-icon-flag:before {
  content: "\e9cc";
}
.k-icon-spinner2:before {
  content: "\e97b";
}
