
@keyframes k-loading-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.k-roll {
  display: inline-block;
  animation: k-loading-animate .8s ease-out infinite; /*steps(8)*/
}