$types: primary, warning, danger, success;

.k-btn {
  display: inline-block;
  padding: var(--button-medium);
  height: var(--button-medium-height);
  font-size: 14px;
  font-weight: 400;
  color: var(--button-color);
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--input-border-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  transition: var(--button-transition);
  outline: 0;

  &.k-btn--default {
    background-color: var(--button-default-bg-color);
    border-color: var(--button-default-border-color);

    &:not([disabled]) {
      &:hover,
      &:focus {
        border-color: color(var(--primary-color) tint(70%));
        background-color: color(var(--primary-color) tint(95%));
        color: var(--primary-color);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
      }

      &:active {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08),
          var(--button-active-box-shadow);
      }
    }
  }

  @each $type in $types {
    &.k-btn--$type {
      color: #fff;
      background-color: var(--$(type)-color);
      border-color: var(--$(type)-color);

      &:not([disabled]) {
        &:hover,
        &:focus {
          border-color: color(var(--$(type)-color) s(+12%) l(+12%));
          background-color: color(var(--$(type)-color) s(+12%) l(+12%));
          box-shadow: 0 0 0 2px color(var(--$(type)-color) a(30%));
        }

        &:active {
          box-shadow: var(--button-active-box-shadow),
            0 0 0 2px color(var(--$(type)-color) a(20%));
        }
      }
    }
  }

  &[disabled] {
    /* pointer-events: none; */
    opacity: 0.5;
    cursor: not-allowed;
  }

  @each $size in (huge, large, big, medium, small, mini) {
    &.k-btn--$size {
      padding: var(--button-$(size));
      height: var(--button-$(size)-height);
      line-height: calc(var(--button-$(size)-height) - 2px);
      font-size: var(--button-$(size)-font-size);
      &.k-btn--capsule {
        border-radius: calc(var(--button-$(size)-height) / 2);
      }

      &:not(:last-child) {
        margin-right: var(--button-$(size)-gutter);
      }
    }
  }

  &.k-btn--block {
    display: block;
    width: 100%;
  }

  & > span + .k-btn__loading {
    position: relative;
    top: -1px;
    margin-left: 15px;
    @extend .k-roll;
  }
}
