.k-block {
  display: block;
  width: auto;
}

.k-center {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.k-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.k-slide-down {
  transition: var(--transition);
  transform-origin: top;
  transform:rotateX(90deg);
  opacity: 0;
  &--active {
    transform:rotateX(0deg);
    opacity: 1;
  }
}