.k-block {
  display: block;
  width: auto;
}

.k-center {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.k-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*//动画*/
/*下拉*/
.k-transition-slide-down-enter-active,
.k-transition-slide-down-leave-active {
  transition: var(--transition);
  transform-origin:top;
}
.k-transition-slide-down-enter,
.k-transition-slide-down-leave-to {
  transform:rotateX(90deg);
  opacity: 0;
}
.k-transition-slide-down-enter-to,
.k-transition-slide-down-leave {
  transform:rotateX(0deg);
  opacity: 1;
}