.k-date-picker-cell {
  font-size: 14px;
  font-weight: normal;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
}
.k-date-picker {
  background-color: white;
  @extend .k-no-select;
  table.k-date-picker-main {
    width: 100%;
    border: none;
    border-collapse: collapse;
    & > thead {
      & > tr {
        & > th {
          @extend .k-date-picker-cell;
          color: #333;
        }
      }
    }
    > tbody {
      > tr {
        > td {
          @extend .k-date-picker-cell;
          color: #666;
          cursor: pointer;
          transition: var(--transition);
          &.k-date-picker_not_cur_month {
            color: #ccc;
          }
          &:hover {
            &:not(.k-date-picker_not_cur_month) {
              background-color: color(var(--primary-color) a(30%));
              /* color: white; */
            }
          }
        }
      }
    }
  }
}
