.k-dialog {
  display: flex;
  min-height: 60px;
  align-items: flex-start;
  line-height: 24px;
  font-size: 14px;
  & .k-dialog-icon {
    flex: none;
    color: var(--warning-color);
    margin-right: 8px;
    font-size: 24px;
  }
}