.k-icon {
  display: inline-block;
  line-height: 1;
  width: 14px;
  height: 14px;

  & .k-icon__container {
    display: inline-block;
    vertical-align: initial;
    line-height: 1;
    width: 14px;
    height: 14px;
    position: relative;
    font-style: normal;
    transition: var(--transition);

    &:after,
    &:before {
      content: "";
      @extend .k-center;
    }

    &.k-icon__container--exclamation {
      border-radius: 100%;
      background-color:var(--danger-color);
      &:before,
      &:after {
        content: '';
        @extend .k-center;
        background-color: #fff;
        opacity: .8;
      }

      &:before {
        height: 5px;
        width: 2px;
        margin-top: 3px;
      }

      &:after {
        width: 2px;
        height: 1.5px;
        margin-top: 70%;
      }
    }

    &.k-icon__container--arrow {
      pointer-events: none;

      &.k-icon__container--arrow--up,
      &.k-icon__container--arrow--down {
        &:after,
        &:before {
          width: 0;
          height: 0;
          border-style: solid;
          border-color: var(--icon-arrow) transparent transparent;
          border-width: 5px 4px;
          top: 5px;
        }
      }

      &.k-icon__container--arrow--up {
        &:after,
        &:before {
          border-color: transparent transparent var(--icon-arrow);
          top: -5px;
        }
      }
    }

    &.k-icon__container--success {
      background-color: var(--success-color);
      border-radius: 100%;
      pointer-events: none;

      &:before,
      &:after {
        opacity: 0.8;
      }

      &:before {
        height: 2.5px;
        width: 4.5px;
        margin-top: 3px;
        transform: rotate(-50deg);
        border-style: solid;
        border-color: transparent transparent #fff #fff;
        border-width: 1.5px;
      }
    }

    &.k-icon__container--minus,
    &.k-icon__container--plus {
      &:after {
        width: 8px;
        height: 1px;
        background-color: var(--icon-plus-minus);
      }
    }

    &.k-icon__container--plus {
      &:before {
        width: 1px;
        height: 8px;
        background-color: var(--icon-plus-minus);
      }
    }
  }
}