.k-input-number,
.k-input-number--right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--input-number-btn-color);
  background-color: var(--input-number-btn-bg-color);
  border-right: 1px solid var(--input-border-color);
  &:hover {
    background-color: var(--input-number-hover-btn-bg-color);
    color: var(--input-number-btn-hover-color);
  }
}
.k-input-number--right {
  border-right: none;
  border-left: 1px solid var(--input-border-color);
}
.k-input-number--disabled {
  pointer-events: none;
  .k-input-number,
  .k-input-number--right {
    background-color: var(--disabled-color);
  }
}
.k-input-number-icon {
  position: relative;
  top: -3px;
  font-size: 16px;
  user-select: none;
}
