.k-input-section {
  display: inline-block;
  position: relative;
  line-height: normal;
  width: var(--input-width);

  & .k-input,
  & .k-textarea {
    color: var(--input-color);
    border: 1px solid var(--input-border-color);
    outline: 0;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    width: 100%;
    border-radius: var(--input-radius);
    padding: var(--input-padding);
    transition: var(--transition);

    &:focus,
    &:active {
      border-color: var(--primary-color);
      box-shadow: var(--input-focus-active-shadow);
    }
    &.k-input-active {
      border-color: var(--primary-color);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    &[readonly] {
      cursor: default;
    }

    &.k-input-disabled {
      background-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }

  &.k-input-block {
    @extend .k-block;
  }

  & .k-input-prepend {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid transparent;
    overflow: hidden;
    & > * {
      @extend .k-center;
    }
  }

  & .k-input-append {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid transparent;
    overflow: hidden;
    text-align: center;
  }

  & .k-input-append {
    left: auto;
    right: 0;
    border-top-right-radius: var(--input-radius);
    border-bottom-right-radius: var(--input-radius);
  }
  & .k-input-prepend {
    border-top-left-radius: var(--input-radius);
    border-bottom-left-radius: var(--input-radius);
  }

  @each $name in (huge, large, big, medium, small, mini) {
    &.k-input-$(name) {
      & .k-input {
        height: var(--input-$(name));
        font-size: var(--input-$(name)-font-size);
      }
      &.k-input-capsule {
        & .k-input {
          border-radius: calc(var(--input-$(name) / 2));
        }
      }

      & .k-textarea {
        height: calc(var(--input-$(name)) * 2);
      }

      & .k-input-prepend,
      & .k-input-append {
        min-width: var(--input-$(name));
      }

      & .k-input-prepend {
        & ~ .k-input {
          padding-left: var(--input-$(name));
        }
      }

      & .k-input-append {
        & ~ .k-input {
          padding-right: var(--input-$(name));
        }
      }
    }
  }

  & .k-input-clearable {
    @extend .k-center;
    width: 14px;
    height: 14px;
    left: auto;
    right: 7px;
    color: var(--input-clearable-btn-color);
    display: none;
    cursor: pointer;
    font-size: 13px;
  }

  &:hover {
    & .k-input-clearable {
      display: inline-block;

      &:hover {
        color: var(--input-clearable-btn-hover-color);
      }

      & + .k-input {
        padding-right: 22px;
      }
    }
    & .k-input,
    & .k-textarea {
      border-color: var(--primary-color);
    }
  }

  & .k-textarea {
    padding: var(--input-textarea-padding);
    line-height: var(--input-textarea-line-height);
  }
  &.k-input-simple {
    & .k-input {
      border: none;
      border-bottom: 1px solid var(--input-border-color);
      border-radius: 0;
      background-color: transparent;
      &.k-input-active {
        border-bottom-color: var(--primary-color);
      }
      &.k-input-disabled {
        background-color: transparent;
        cursor: not-allowed;
      }
      &:focus,
      &:active {
        border-bottom-color: var(--primary-color);
        box-shadow: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: 2px solid transparent;
      transition: var(--transition);
    }
    &:focus-within {
      &:after {
        border-bottom-color: var(--primary-color);
        width: 100%;
        left: 0;
      }
    }
  }
  /* 没有样式，一般用在有外部容器的地方，比如表格内，为了和表格融为一体， */
  /* 包含了k-input-block */
  &.k-input-nostyle {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    & .k-input,
    & .k-textarea {
      border: none;
      border-radius: 0;
      height: 100%;
      /* background-color: transparent; */
    }
  }
}
