.k-layer {
  @extend .k-absolute;
  transition: transform var(--transition);
  transform-origin: 0 0;
  z-index: 9999;
  border-radius: var(--layer-radius);
  border: 1px solid color(var(--border-color) tint(50%));
  box-shadow: 0 1px 9px 0px rgba(0, 0, 0, 0.08);
  /* overflow: hidden; */
  outline: none;
  background-color: white;
  &.k-layer-has-padding {
    padding: 4px 0;
  }
  &.k-layer-arrow {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent color(var(--border-color) tint(50%));
      top: -14px;
      left: 20px;
      z-index: 101;
    }
    &:after {
      top: -13px;
      border-bottom-color: white;
    }
  }
  &.k-layer-origin-bottom {
    transform-origin: left bottom;
    &.k-layer-arrow {
      &:before,
      &:after {
        border-color: color(var(--border-color) tint(50%)) transparent
          transparent;
        bottom: -14px;
        left: 20px;
        top: auto;
      }
      &:after {
        bottom: -13px;
        border-top-color: white;
      }
    }
  }
  &.k-layer-arrow-right {
    &:before,
    &:after {
      left: auto;
      right: 20px;
    }
  }
  & .k-layer-body {
    @extend .k-select__list;
    box-shadow: none;
    border: none;
    /* @extend .k-backdrop-filter; */
  }
  & .k-layer-header {
    /* border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); */
    border-top-left-radius: var(--layer-radius);
    border-top-right-radius: var(--layer-radius);
    background-color: white;
    /* @extend .k-backdrop-filter; */
    position: relative;
    z-index: 100;
    /* box-shadow: 1px 0 3px 0 rgba(0,0,0,.1),
      -1px 0 3px 0 rgba(0,0,0,.1); */
    /* overflow: hidden; */
  }
  & .k-layer-has-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    /* margin-top:-1px; */
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.1); */
    max-height: 33vh;
  }
  & .k-layer-has-footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.1); */
    max-height: 33vh;
  }
  & .k-layer-footer {
    /* border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); */

    border-bottom-left-radius: var(--layer-radius);
    border-bottom-right-radius: var(--layer-radius);
    background-color: white;
    /* @extend .k-backdrop-filter; */
    position: relative;
    z-index: 2;
    /* box-shadow: 0 5px 5px -5px rgba(0,0,0,.1),
      -1px 0 3px -1px rgba(0,0,0,.1); */
    overflow: hidden;
  }
}
