.k-loading {
  animation: k-loading-animate 1s steps(8) infinite;
  &.k-loading--mini {
    font-size: 12px;
  }
  &.k-loading--small {
    font-size: 14px;
  }
  &.k-loading--medium {
    font-size: 16px;
  }
  &.k-loading--big {
    font-size: 18px;
  }
  &.k-loading--large {
    font-size: 20px;
  }
  &.k-loading--huge {
    font-size: 22px;
  }
}


@keyframes k-loading-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}