.k-option {
  height: var(--option-height);
  line-height: var(--option-height);
  padding: var(--option-padding);
  transition: var(--transition);
  cursor: pointer;
  text-align: left;
  @extend .k-ellipsis;
  &:hover {
    color: var(--option-hover-color);
    background: linear-gradient(
      130deg,
      var(--option-hover-bg-color),
      white
    );
  }
  &.k-option--selected {
    background: linear-gradient(
      130deg,
      var(--option-selected-bg-color),
      var(--option-selected-bg-gradient-color)
    );
    color: var(--option-selected-color);
  }
}
