ul.k-pagi {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: var(--transition);
  &.k-pagi-center {
    justify-content: center;
  }
  &.k-pagi-left {
    justify-content: flex-start;
  }
  > li {
    display: flex;
    align-items: center;
    margin: 0 3px;
  }
  li.k-pagi-total {
    color: #333;
    font-size: 12px;
    margin: 0 8px;
  }
  li {
    &.k-pagi-item {
      background-color: var(--pagi-bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      height: 28px;
      border: 1px solid var(--pagi-default-border-color);
      border-radius: var(--radius);
      transition: var(--transition);
      cursor: pointer;
      color: var(--pagi-text-color);
      font-size: 12px;
      line-height: normal;
      &:hover:not(.k-pagi-dot) {
        border-color: var(--pagi-hover-border-color);
        color: var(--pagi-hover-border-color);
      }
      &.k-current-page {
        border-color: var(--pagi-hover-border-color);
        background-color: var(--pagi-hover-background-color);
        color: white !important;
      }
      &.k-pagi-mini {
        min-width: 26px;
        height: 24px;
      }
    }
    &.k-pagi-prev,
    &.k-pagi-next {
      font-size: var(--pagi-prev-next-icon-size);
    }
    &.k-pagi-dot {
      cursor: default;
      user-select: none;
    }
    &.k-pagi-disabled {
      cursor: not-allowed;
    }
  }
  li.k-pagi-sizes {
    margin-left: 8px;
    .k-input-section {
      width: 77px;
    }
  }
  li.k-pagi-go {
    margin: 0 10px;
    font-size: 12px;
    .k-input-section {
      width: 50px;
      margin:0 5px;
    }
  }
  &.k-pagi-disabled-all {
    pointer-events: none;
    opacity: .60;
  }
  $orders: 0,1,2,3,4,5,6,7;
  @each $order in $orders {
    li.k-pagi-order-$order {
      order:$order;
    }
  }
}