ul.k-pagi {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
  }
  li.k-pagi-total {
    color: #333;
    font-size: 12px;
    margin: 0 8px;
  }
  li {
    &.k-pagi-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      height: 28px;
      border: 1px solid var(--pagi-default-border-color);
      border-radius: var(--radius);
      transition: var(--transition);
      cursor: pointer;
      color: var(--pagi-text-color);
      font-size: 14px;
      margin: 0 3px;
      line-height: normal;
      &:hover:not(.k-pagi-dot) {
        border-color: var(--pagi-hover-border-color);
        color: var(--pagi-hover-border-color);
      }
      &.k-current-page {
        border-color: var(--pagi-hover-border-color);
        background-color: var(--pagi-hover-background-color);
        color: white !important;
      }
    }
    &.k-pagi-prev,
    &.k-pagi-next {
      font-size: var(--pagi-prev-next-icon-size);
    }
    &.k-pagi-prev {
      margin-left: 0;
    }
    &.k-pagi-next {
      margin-right: 0;
    }
    &.k-pagi-dot {
      cursor: default;
      user-select: none;
    }
    &.k-pagi-disabled {
      cursor: no-drop;
      pointer-events: none;
    }
  }
  li.k-pagi-sizes {
    margin-left: 8px;
    .k-input-section {
      width: 77px;
    }
  }
  li.k-pagi-go {
    margin: 0 10px;
    font-size: 12px;
    .k-input-section {
      width: 50px;
      margin:0 5px;
    }
  }
}