.k-popup {
  position: fixed;
  display: table;
  z-index: var(--popup-z-index);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.k-popup--mask {
  background-color: var(--popup-mask-bg-color);
}

.k-popup--transparent {
  background-color: transparent;
}

.k-popup__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.k-popup__container {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: var(--popup-container-width);
  margin: 0px auto;
  border-radius: var(--popup-radius);
  overflow: hidden;
  background-color: var(--popup-container-bg-color);
  box-shadow: var(--popup-box-shadow);
  transition: transform .25s,opacity .25s;
}

.k-popup__close {
  position: absolute;
  right: 8px;
  user-select: none;
  color: var(--popup-close-btn-color) !important;
  cursor: pointer;
  transition: var(--transition);
  height: var(--popup-header-height);
  line-height: var(--popup-header-height);

  &:hover,
  &:active {
    transform: scale(1.2, 1.2);
    color: var(--popup-close-btn-hover-color);
  }
}

.k-popup__header {
  padding: var(--popup-header-padding);
  display: table-row;
  background: linear-gradient(
    130deg,
    var(--popup-header-bg-color-1),
    var(--popup-header-bg-color-2)
  );

  .k-popup__header__title {
    display: table-cell;
    height: var(--popup-header-height);
    line-height: var(--popup-header-height);
    padding-left: 12px;

    b {
      font-size: var(--popup-header-title-font-size);
      color: var(--popup-header-title-color);
    }
  }
}

.k-popup__content {
  overflow-y: auto;
  overflow-x: hidden;
  display: table-cell;
  background-color: var(--popup-content-bg-color);
  /* transition: var(--transition); */
  & .k-popup__content__main {
    padding: var(--popup-content-padding);
    min-height: var(--popup-content-min-height);
    max-height: 70vh;
  }
}

.k-popup__body,
.k-popup__footer {
  display: table-row;
}

.k-popup__footer__con {
  display: table-cell;
  padding: var(--popup-footer-padding);
  text-align: var(--popup-footer-text-align);
  &.k-popup__footer__con--line {

    border-top: var(--popup-footer-border-top);
  }
}

.k-popup-container--before-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.k-popup-container--enter {
  opacity: 1;
  transform: translateY(0);
}
