.k-radio {
  display: inline-flex;
  align-items: center;
  & + & {
    margin-left: var(--radio-gutter);
  }
  & &__icon {
    display: inline-block;
    width: var(--radio-size);
    height: var(--radio-size);
    border-radius: 100%;
    border: 1px solid var(--radio-border-color);
    transition: var(--transition);
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    &:after {
      content: "";
      @extend .k-center;
      background-color: transparent;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      opacity: 0;
      transform: scale(0, 0);
      transition: .15s;
    }
    &:hover {
      border-color: var(--radio-hover-border-color);
    }
  }
  & &__text {
    font-size: var(--radio-font-size);
    margin-left: var(--radio-icon-text-gutter);
  }
  &.k-radio--checked {

    .k-radio__icon {
      border-radius: 100%;
      border: 1px solid var(--primary-color);
      background-color:white;
      &:after {
        background-color: var(--primary-color);
        transform: scale(1, 1);
        opacity: 1;
      }
    }
  }
  &.k-radio--disabled {
    cursor: not-allowed;
    opacity: .65;
    .k-radio__icon {
      cursor: not-allowed;
    }
  }
}
