.k-scrollbar {
  overflow: hidden;
  position: relative;
  &__y {
    opacity: 0;
    transition: opacity .25s;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    &track {
      width: 8px;
      background-color: rgba(0,0,0,.08);
      height: 100%;
    }
    &thumb {
      position: absolute;
      top:0;
      left:0;
      width: 8px;
      background-color: rgba(0,0,0,.5);
      border-radius: 4px;
      z-index: 9;
      &:active {
        background-color: rgba(0,0,0,.65);
      }
    }
  }
  &__x {
    opacity: 0;
    transition: opacity .25s;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    &track {
      width: 100%;
      background-color: rgba(0,0,0,.08);
      height: 8px;
    }
    &thumb {
      position: absolute;
      bottom:0;
      left:0;
      height: 8px;
      background-color: rgba(0,0,0,.5);
      border-radius: 4px;
      z-index: 9;
      &:active {
        background-color: rgba(0,0,0,.65);
      }
    }
  }
  &:hover {
    .k-scrollbar__y,
    .k-scrollbar__x {
      opacity: 1;
      
    }
  }
  .k-scrollbar__x.k-scrollbar--active,
  .k-scrollbar__y.k-scrollbar--active {
    opacity: 1;
  }
}
.k-scrollbar__content {
  /* width: 2000px; */
}
.k-scrollbar-transition {
  transition: .25s;
}