.k-select {
  cursor: pointer;
  & .k-input {
    cursor: pointer !important;
  }
  &.k-select-events-none {
    & .k-input-append {

      pointer-events: none;
    }
  }
}
.k-select__icon__wrapper {
  cursor: pointer;
  @extend .k-center;
}
.k-select__down {
  width: var(--select-down-size);
  height: var(--select-down-size);
  font-size: var(--select-down-size);
  color: var(--select-down-color);
  transition: var(--transition);
  display: inline-block;
  @extend .k-center;
  &.k-select__down--up {
    transform: rotateX(180deg);
  }
}
.k-select__clear {
  color: var(--select-down-color);
  width: var(--select-clear-size);
  height: var(--select-clear-size);
  font-size: var(--select-clear-size);
  cursor: pointer;
  @extend .k-center;
  &:hover {
    color: var(--select-clear-hover-color);
  }
}

.k-select__active {
  & > input {
    border-color: var(--primary-color);
  }
}

.k-select__list {
  padding: 0;
  margin: 0;
  font-size: 12px;
  width: 100%;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--radius);
  z-index: var(--select-option-z-index);
  background-color: var(--select-option-bg-color);
  @extend .k-backdrop-filter;
  /* box-shadow: var(--select-option-box-shadow); */
  max-height: var(--select-option-max-height);
  overflow-x: hidden;
  transition: transform var(--transition);
  transform-origin: 0 0;
  will-change: transform;
}
