.k-select-tree {
  outline: none;
  @extend .k-select2;
  @extend .k-like-input;
  @extend .k-cursor-pointer;
  @each $name in (huge, large, big, medium, small, mini) {
    &.k-select-tree--$(name) {
      height: var(--$(name));
    }
  }
  &.k-select-tree--block {
    @extend .k-block;
    position: relative;
  }
  &.k-select-tree--simple {
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: 2px solid transparent;
      transition: var(--transition);
    }
    &:focus,
    &:active {
      &:after {
        border-bottom-color: var(--primary-color);
        width: 100%;
        left: 0;
      }
    }
  }
  &.k-select-tree--nostyle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 0;
    &:focus {
      box-shadow: 0 0 0 1px var(--primary-color);
      background-color: white;
    }
  }
}
.k-select-tree-body {
  position: relative;
  line-height: normal;
  padding: 10px 12px;
  background-color: white;
  min-width: 250px;
  max-height: 60vh;
  min-height: 200px;
  overflow-y: auto;
  & > .k-tree {
    min-height: 200px;
  }
}
.k-select-tree-checked-list {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 12px;
  overflow: hidden;
}
.k-select-tree-checked {
  padding: 6px 15px 5px 5px;
  height: 100%;
  line-height: 1.4;
}
.k-select-tree-checked-one {
  padding: var(--input-padding);
  height: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: var(--font-color-2);
}
.k-select-tree-clear {
  color: var(--font-color-4);
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 12px;
  margin: auto;
  right: 8px;
  font-size: 12px;
  transition: var(--transition);
  &:hover {
    color: var(--font-color-2);
  }
}
.k-select-tree-placeholder {
  @extend .k-like-input-placeholder;
}
