.k-select2 {
  display: inline-block;
  line-height: normal;
  position: relative;
}
.k-select2-searchinput {
  .k-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
  }
   
    .k-input-append {
      border-radius: 0;
    }
  .k-select2-check-all {
    width: 16px;
    height: 18px;
  }
}
.k-select2-list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}
.k-select2-list-item {
  height: var(--option-height);
  line-height: var(--option-height);
  padding: var(--option-padding);
  transition: var(--transition);
  cursor: pointer;
  text-align: left;
  &:hover,
  &.k-select2-list-item-hover {
    color: var(--option-hover-color);
    background: var(--option-hover-bg-color);
  }
  .k-select2-checkbox {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    @extend .k-ellipsis;
  }
}
.k-select2-checked-list {
  position: absolute !important;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  font-size: 12px;
  overflow: hidden;
}
.k-select2-checked-box {
  padding: 1px 2px;
}
.k-select2-checked-item {
  margin: 2px;
  white-space: nowrap;
  display: inline-block;
  .k-select2-checked-name {
    background-color: var(--border-color);
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    display: inline-block;
    vertical-align:middle;
    color: var(--font-color-2);
  }
  .k-select2-checked-del {
    display: inline-block;
    vertical-align:middle;
    cursor: pointer;
    background-color: var(--border-color);
    width: 15px;
    height: 18px;
    line-height: 18px;
    border-left: 1px solid color(white a(50%));
    text-align: center;
    color: var(--font-color-3);
    font-size: 14px;
    &:hover {
      color: var(--font-color-1);
    }
  }
}

.k-select2-footer {
  padding: 5px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}