.k-select2 {
  display: inline-block;
  line-height: normal;
  position: relative;
  width: var(--select2-width);
  &.k-select2--nostyle {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
  }
  .k-input {
    cursor: pointer;
  }
}
.k-select2-searchinput {
  .k-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus {
      /* box-shadow: none; */
    }
  }

  .k-input-append {
    border-radius: 0;
  }
  .k-select2-check-all {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.k-select2-list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  /* min-height: 20vh; */
}
.k-select2-list-item {
  height: var(--option-height);
  line-height: var(--option-height);
  padding: 0 0.9em;
  transition: var(--transition);
  cursor: pointer;
  text-align: left;
  border-radius: var(--option-radius);
  &.k-select2-list-item-checked {
    color: var(--option-selected-color);
    background-color: var(--option-selected-bg-color);
  }
  &:hover,
  &.k-select2-list-item-hover {
    color: var(--option-hover-color);
    background: var(--option-hover-bg-color);
  }
  .k-select2-checkbox {
    display: block;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    @extend .k-ellipsis;
  }
}
.k-select2-checked-list {
  position: absolute !important;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  font-size: 12px;
  overflow: hidden;
}
.k-select2-checked-box {
  padding: 1px 2px;
  cursor: pointer;
  width: fit-content;
  padding-right: 32px;
}
.k-select2-checked-item {
  margin: 2px;
  white-space: nowrap;
  display: inline-block;
  line-height: 1;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  .k-select2-checked-name {
    background-color: #fafafa;
    height: 20px;
    line-height: 20px;
    padding: 0 2px 0 4px;
    display: inline-block;
    vertical-align: middle;
    color: var(--font-color-2);
  }
  .k-select2-checked-del {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fafafa;
    width: 17px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--font-color-3);
    font-size: 12px;
    &:hover {
      color: var(--font-color-2);
    }
  }
}

.k-select2-footer {
  padding: 6px 10px;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
}
.k-select2-append {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
}
