.k-switch {
  display: inline-block;
  position: relative;
  border: 1px solid var(--font-color-3);
  transition: var(--transition);
  cursor: pointer;
  background-color: var(--font-color-3);
  &.k-switch--on {
    background-color: var(--success-color);
    border-color:var(--success-color);
  }
  @each $name in (huge, large, big, medium, small, mini) {
    &.k-switch--$(name) {
      height: calc(var(--$(name)) / 1.6);
      width: calc(var(--$(name)) * 1.3);
      border-radius: calc(var(--$(name)) / 2);
      transition: var(--transition);
      &.k-switch--w-$(name) {
        width: calc(var(--$(name)) * 1.6);
      }
      &:after {
        transition: var(--transition);
        content: "";
        position: absolute;
        /* width: calc(var(--$(name)) / 1.6 + 2px);
        height: calc(var(--$(name)) / 1.6 + 2px);
        top: -3px; */
        width:calc(var(--$(name)) / 1.6 - 6px); 
        height:calc(var(--$(name)) / 1.6 - 6px); 
        top: 1px;
        border-radius: 100%;
        left: 1px;
        background-color: var(--default-color);
        box-shadow: 5px 1px 5px -3px rgba(0, 0, 0, 0.3);
        border: 1px solid transparent;
      }
      
      &.k-switch--on {
        &:after {
          left: calc(100% - 1px);
          transform: translateX(-100%);
          background-color: white;
          border: 1px solid transparent;
          box-shadow: -5px 1px 5px -3px rgba(0, 0, 0, 0.3);
        }
      }
      
      & .k-switch-on-content,
      & .k-switch-off-content {
        position:  absolute;
        line-height: 1;
        text-align:center;
        > * {
          position: absolute;
          top:0;
          bottom:0;
          right:0;
          left:0;
          margin:auto;
        }
      }
      & .k-switch-on-content {
        top: 1px;
        bottom: 1px;
        margin: auto;
        left: 1px;
        right: calc(var(--$(name)) / 1.6 - 2px)
      }
      & .k-switch-off-content {
        top: 1px;
        bottom: 1px;
        margin: auto;
        left: calc(var(--$(name)) / 1.6 - 2px);
        right: 1px;
      }
    }
  }
  &.k-switch--disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
