.k-table-outer {
  position: relative;
  /* border:var(--table-border); */
}
.k-table-wrapper {
  background-color: var(--table-wrapper-bg-color);
  box-shadow: inset 0 0 0 1px var(--table-border-color);
  text-align: left;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &--fixed_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
  }
  &--fixed_right {
    position: absolute;
    right: 0;
    top: 0;
    /* box-shadow: none; */
    /* width: 100%; */
  }
  &--fixed_left_shadow {
    box-shadow: var(--table-fixed-left-shadow);
  }
  &--fixed_right_shadow {
    box-shadow: var(--table-fixed-right-shadow);
  }

  .k-table-head {
    position: relative;
    color: var(--font-color-1);
    z-index: 0;
    /* flex: 1; */
  }

  .k-table-body {
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--font-color-2);
    /* flex: 1; */
  }
  .k-table-foot {
    position: relative;
    margin-top: -1px;
    /* width: 100%; */
    /* float: left; */
    font-weight: bold;
    color: var(--font-color-2);

    /* flex: 1; */
  }

  .k-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    > thead > tr,
    > tfoot > tr {
      background-color: var(--table-head-bg-color);
    }

    > tbody > tr {
      background-color: white;
      transition: var(--transition);
      &.k-table-tr-highlight {
        background-color: var(--table-tr-highlight-color) !important;
      }
    }

    @each $name in (huge, large, big, medium, small, mini) {
      &.k-table--$(name) {
        font-size: var(--table-$(name)-font-size);

        & > thead > tr > th,
        & > tbody > tr > td,
        & > tfoot > tr > td {
          height: var(--table-$(name));
          /* line-height: calc(var(--table-$(name)) - 1px); */
          line-height: normal;
          padding: var(--table-$(name)-padding);
          @extend .k-ellipsis;
        }
      }
    }

    &--bordered {
      border: var(--table-border);

      & > thead > tr > th,
      & > tbody > tr > td,
      & > tfoot > tr > td {
        border: var(--table-border);
      }
    }

    &--stripe {
      & > tbody > tr:nth-child(2n) {
        background-color: var(--table-stripe-bg-color);
      }

      & > tbody > tr:nth-child(2n-1) {
        background-color: white;
      }
    }

    &--nowrap {
      white-space: nowrap;
    }
    &--min-content {
      width: min-content;
    }
    &--auto {
      table-layout: auto;
    }
  }
}
.k-table-tr-hover {
  background-color: var(--table-hover-bg-color) !important;
}
.k-table-td-center {
  text-align: center;
}
.k-table-td-relative {
  position: relative;
  & .k-table-resize {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    z-index: 1;
  }
  & .k-table-sorter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9px;
    width: 12px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .k-table-sorter-icon {
      font-size: 14px;
      color: #bbb;
      height: 10px;
      transition: var(--transition);
      &.k-table-sorter-icon-active {
        color: var(--primary-color);
        transform: scale(1.3,1.3);
      }
    }
    & .k-table-sorter-icon-down {
      position: relative;
      top: -4px;
    }
  }
}
.k-table-base-line {
  width: 1px;
  height: 0;
  position: absolute;
  background-color: var(--table-base-line-color);
  z-index: 7;
  left: 0;
  top: 0;
}
.k-table-icon-action {
  color: #999;
  cursor: pointer;
  font-size: 13px !important;
  &:hover {
    color: #333;
  }
  &:not(:first-child) {
    margin-left:2px;
  }
}
