.k-tips {
  position: fixed;
  top: 30%;
  /* left: auto;
  right: 20px; */
  padding: var(--tips-padding);
  background-color: var(--tips-bg-color);
  /* width: fit-content;
  margin: auto; */
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 70%;
  /* @supports (backdrop-filter: blur()) {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
  } */
  box-shadow: var(--tips-box-shadow);
  z-index: var(--tips-z-index);
  border-radius: var(--tips-radius);
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */

  .k-tips__close {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 16px;
    color: #ddd;
    cursor: pointer;
    transition: var(--transition);
    line-height: 1;
    &:hover {
      color: var(--font-color-2);
    }
  }
  .k-tips__tag {
    text-align: center;
    line-height: normal;
    position: relative;
    z-index: 2;
    & .k-tips__shadow {
      position: absolute;
      width: 64%;
      height: 10px;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0);
      left: 18%;
      bottom: 0px;
      z-index: 1;
    }
    & .k-tips__icon {
      position: relative;
      z-index: 2;
    }
  }

  .k-tips__cont {
    color: var(--tips-cont-color);
    font-size: var(--tips-cont-font-size);
    text-align: var(--tips-cont-text-align);
    word-break: break-all;
    overflow: auto;
    /* margin-top: 10px; */
    margin-left: 12px;
  }
}
