.k-tips {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: var(--tips-padding);
  background-color: var(--tips-bg-color);
  box-shadow: var(--tips-box-shadow);
  z-index: var(--tips-z-index);
  border-radius: var(--tips-radius);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(-50%, -50%);

  .k-tips__tag {
    text-align: center;

    .k-tips__icon {
      display: inline-block;
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      border-width: 4px;
      border-style: solid;
      transition: var(--transition);
    }

    .k-tips__icon--success {
      border-color: var(--primary-color);

      &:after {
        content: '';
        border-style: solid;
        border-color: transparent transparent var(--primary-color) var(--primary-color);
        border-width: 0 0 4px 4px;
        border-radius: 4px;
        width: 20px;
        height: 12px;
        transform: rotate(-50deg);
        @extend .k-center;
      }
    }

    .k-tips__icon--error {
      border-color: var(--danger-color);

      &:after,
      &:before {
        content: '';
        height: 4px;
        width: 20px;
        background-color: var(--danger-color);
        border-radius: 4px;
        @extend .k-center;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }

    .k-tips__icon--warning {
      border-color: var(--warning-color);

      &:after,
      &:before {
        content: '';
        position: absolute;
        background-color: var(--warning-color);
      }

      &:after {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 18%;
      }

      &:before {
        width: 4px;
        height: 15px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        left: 0;
        right: 0;
        margin: auto;
        top: 60%;
        bottom: 12px;
      }
    }
  }

  .k-tips__cont {
    color: var(--tips-cont-color);
    font-size: var(--tips-cont-font-size);
    text-align: var(--tips-cont-text-align);
  }
}