
.k-t-scale-up-down {
  &-enter,
  &-leave-to {
    transform: scale(.5,1);
    opacity: 0;
  }
  &-enter-to,
  &-leave {
    transform: scale(1,1);
    opacity: 1;
  }
  &-enter-active,
  &-leave-active {
    transition: transform .25s ease;
  }
}
.k-t-fade {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
  &-enter-to,
  &-leave {
    opacity: 1;
  }
  &-enter-active,
  &-leave-active {
    transition: .25s ease;
  }
}
.k-t-scale {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(1,0);
  }
  &-enter-to,
  &-leave {
    opacity: 1;
    transform: scale(1,1);
  }
  &-enter-active,
  &-leave-active {
    transition: transform .25s ease;
  }
}

/*//动画*/
/*下拉*/
.k-transition-slide-down-enter-active {
  transition: transform var(--transition);
  transform-origin:0 0;
}
.k-transition-slide-down-leave-active {
  transition: var(--transition);
  transform-origin:0 0;
}
.k-transition-slide-down-enter {
  transform:rotateX(60deg);
  opacity: 0;
}
.k-transition-slide-down-enter-to
 {
  transform:rotateX(0deg);
  opacity: 1;
}

.k-transition-slide-down-leave {
  opacity: 1;
  transform:rotateX(0deg);
}

.k-transition-slide-down-leave-to {
  opacity: 0;
  transform:rotateX(60deg);
}