.k-tree-wrapper {
  & .k-tree-actions {
    padding: 5px 0 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    & .k-tree-icon-actions {
      cursor: pointer;
      font-size: 16px;
      margin-left: 8px;
      color: var(--font-color-2);
      &:hover {
        color: var(--primary-color);
      }
    }
    & .k-tree-search-btn {
      cursor: pointer;
      font-size: 14px;
      color: var(--font-color-4);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
.k-tree {
  font-size: 12px;
  @extend .k-no-select;
  & .k-tree-item {
    position: relative;
    white-space: nowrap;
    & .k-tree-item-k {
      display: flex;
      align-items: center;
      height: 24px;
    }
    & .k-tree-icon-wrapper {
      width: 16px;
      height: 16px;
      flex: none;
      display: flex;
      align-items: center;
    }
    &.k-tree-item--dotted,
    &:not(:last-child) {
      & .k-tree-icon-wrapper {
        &:after {
          position: absolute;
          content: "";
          width: 0;
          border-left: 1px dotted color(var(--border-color) b(40%));
          left: 6.5px;
          pointer-events: none;
          top: 1.5em;
          /* bottom: 0; */
          height: calc(100% - 1em);
        }
      }
    }

    & .k-tree-item {
      & .k-tree-icon-wrapper {
        /* width: 16px;
        height: 16px;
        display: inline-block; */
        &:before {
          content: "";
          position: absolute;
          width: 0.8em;
          height: 0;
          border-top: 1px dotted color(var(--border-color) b(40%));
          left: -0.85em;
          top: 10px;
        }
      }
      &:last-child {
        &:not(.k-tree-item--dotted) {
          & .k-tree-icon-wrapper {
            &:after {
              border-left: none;
            }
          }
        }
      }
    }
    & .k-tree-icon {
      font-size: 14px;
      color: color(var(--border-color) b(70%));
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
    & .k-tree-text {
      cursor: pointer;
      flex: 1;
      margin-left: 2px;
      border-radius: 2px;
      padding: 0 3px;
      display: flex;
      align-self: stretch;
      align-items: center;
      &:hover {
        color: var(--primary-color);
      }
      &.k-tree-text--active {
        background-color: color(var(--primary-color) a(12%));
        color: var(--primary-color);
      }
    }
  }
  & & {
    margin-left: 1.5em;
  }
  &.k-tree--big {
    font-size: 14px;
    & .k-tree-item {
      .k-tree-item-k {
        height: 28px;
      }
      &:not(:last-child) {
        & .k-tree-icon-wrapper {
          &:before {
            top: 14px;
          }
          &:after {
            left: 6.5px;
            top: 1.6em;
          }
        }
      }
      & .k-tree-icon {
        font-size: 15px;
      }
      /* & .k-checkbox {
        cursor: pointer;
      }
      & .k-checkbox__text {
        font-size: 14px;
      } */
    }
  }
}

.k-tree-icon-leaf {
  font-size: 14px;
  color: var(--font-color-4);
}
.k-tree-checkbox {
  margin-left: 5px;
}
