:root {
  /*base color*/
  --default-color: #fcfcfc;
  --primary-color: #3366ff;
  --primary-gradient-color: #5e52ff;
  --danger-color: #de3400;
  --warning-color: #ffac2c;
  --success-color: #40ab56;
  --disabled-color: #e9e9e9;
  --bg-color: #fff;
  /*文本颜色*/
  --font-color-1: #333;
  --font-color-2: #666;
  --font-color-3: #999;
  --font-color-4: #ccc;
  /*尺寸*/
  --huge: 50px;
  --large: 40px;
  --big: 34px;
  --medium: 30px;
  --small: 28px;
  --mini: 24px;
  /*边框颜色，form表单相关控件的边框、分页器按钮边框*/
  --border-color: #dae1eb;

  /*过渡*/
  --transition: .25s ease-out;
  /*box-shadow*/
  --box-shadow: 0 2px 5px rgba(60, 70, 80, 0.15);
  /*圆角弧度*/
  --radius: 4px;
  /* input */
  --input-border-color: var(--border-color);
  --input-width: 150px;
  --input-placeholder-color: #bbb;
  --input-padding: 0 0.5em;
  --input-radius: var(--radius);
  --input-color: var(--font-color-2);

  /*input组件里包括了textarea*/
  --input-textarea-padding: 0.5em;
  --input-textarea-line-height: 1.5;

  /*input size*/
  --input-huge: var(--huge);
  --input-large: var(--large);
  --input-big: var(--big);
  --input-medium: var(--medium);
  --input-small: var(--small);
  --input-mini: var(--mini);

  /*input font-size*/
  --input-huge-font-size: 14px;
  --input-large-font-size: 14px;
  --input-big-font-size: 12px;
  --input-medium-font-size: 12px;
  --input-small-font-size: 12px;
  --input-mini-font-size: 12px;
  --input-focus-active-shadow: 0 0 0 2px color(var(--primary-color) a(30%));

  /* input clearable 颜色*/
  --input-clearable-btn-color:#ccc;
  --input-clearable-btn-hover-color:color(var(--input-clearable-btn-color) b(+50%));

  /* autocomplete */
  --auto-complete-icon-color: #ccc;
  --auto-complete-icon-hover-color: #999;
  
  /* button */
  /* button padding*/
  --button-huge: 0 30px;
  --button-large: 0 24px;
  --button-big: 0 20px;
  --button-medium: 0 14px;
  --button-small: 0 8px;
  --button-mini: 0 8px;
  /*button height*/
  --button-huge-height: var(--huge);
  --button-large-height: var(--large);
  --button-big-height: var(--big);
  --button-medium-height: var(--medium);
  --button-small-height: var(--small);
  --button-mini-height: var(--mini);
  /* button fontcolor*/
  --button-color: var(--font-color-2);
  /*圆角*/
  --button-radius: var(--radius);
  /*按钮之间的间距*/
  --button-huge-gutter: 20px;
  --button-large-gutter: 18px;
  --button-big-gutter: 15px;
  --button-medium-gutter: 12px;
  --button-small-gutter: 10px;
  --button-mini-gutter: 8px;
  /* button font-size */
  --button-huge-font-size: 18px;
  --button-large-font-size: 16px;
  --button-big-font-size: 14px;
  --button-medium-font-size: 14px;
  --button-small-font-size: 12px;
  --button-mini-font-size: 12px;
  /*默认按钮*/
  --button-default-bg-color: white;
  --button-default-border-color: #ccc;
  /*button active 内阴影*/
  --button-active-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .1);
  /*button 过渡*/
  --button-transition: .15s ease;

  /* select */
  --select-down-size: 14px;
  --select-down-color: color(var(--input-border-color) b(+20%));
  --select-clear-size: 14px;
  --select-clear-hover-color: color(var(--select-down-color) b(+40%));
  --select-option-z-index: 99;
  --select-option-box-shadow: var(--box-shadow);
  --select-option-max-height: 28vh;
  --select-option-bg-color: var(--bg-color);
  /* option */
  --option-height: 25px;
  --option-padding: 0 6px;
  --option-hover-color: var(--primary-color);
  --option-hover-bg-color: color(var(--primary-color) tint(80%));
  --option-selected-color: #fff;
  --option-selected-bg-color: var(--primary-color);
  --option-selected-bg-gradient-color: var(--primary-gradient-color);

  /* select2 */
  --select2-width: var(--input-width);

  /* radio */
  --radio-font-size: 12px;
  --radio-size: 14px;
  --radio-icon-text-gutter: 5px;
  --radio-gutter: 20px;
  --radio-border-color: color(var(--input-border-color) shade(10%));
  --radio-hover-border-color: var(--primary-color);

  /*input-number*/
  --input-number-btn-bg-color: var(--default-color);
  --input-number-hover-btn-bg-color: color(var(--default-color) b(+5%));
  --input-number-btn-color: color(var(--input-border-color) b(+40%));
  --input-number-btn-hover-color: var(--primary-color);

  /* tips */
  --tips-padding: 20px;
  --tips-bg-color: color(rgb(60, 70, 80) a(85%));
  --tips-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  --tips-z-index: 10000;
  --tips-radius: calc(var(--radius)*2);
  --tips-cont-color: #fff;
  --tips-cont-font-size: 14px;
  --tips-cont-text-align: center;

  /*checkbox*/
  --checkbox-gutter: 20px;
  --checkbox-line-height: normal;
  --checkbox-border-color:#b5bcc5;
  --checkbox-bg-color: #fff;
  --checkbox-radius: 2px;
  --checkbox-hover-border-color: var(--primary-color);
  --checkbox-checked-border-color: var(--primary-color);
  --checkbox-checked-bg-color: var(--primary-color);
  --checkbox-disabled-border-color: color(var(--disabled-color) b(+5%));
  --checkbox-disabled-bg-color: var(--disabled-color);
  --checkbox-checked-disabled-border-color: color(var(--disabled-color) b(+30%));
  --checkbox-text-color: var(--font-color-2);
  --checkbox-text-font-size: 12px;
  --checkbox-checked-text-color: var(--primary-color);

  /*popup*/
  --popup-z-index: 999;
  --popup-radius: var(--radius);
  --popup-mask-bg-color: color(rgb(70,70,70) a(60%));
  --popup-container-width: 300px;
  --popup-container-bg-color: var(--bg-color);
  --popup-box-shadow: 0px 8px 10px -9px rgba(0, 0, 0, .25),
    0 2px 10px 0 rgba(0,0,0,.15);
  --popup-header-bg-color-1: #e0e0e0;
  --popup-header-bg-color-2: #e0e0e0;
  --popup-header-padding: 0 15px;
  --popup-header-height: 36px;
  --popup-header-border-color: color(var(--popup-header-bg-color) b(10%));
  --popup-header-title-font-size:14px;
  --popup-header-title-color:var(--font-color-2);
  --popup-content-min-height: 70px;
  --popup-content-padding: 15px;
  --popup-content-bg-color: var(--bg-color);
  --popup-footer-padding: 12px 15px 10px;
  --popup-footer-text-align: right;
  --popup-footer-border-top: 1px solid #e0e0e0;
  --popup-close-btn-color: var(--font-color-2);
  --popup-close-btn-hover-color: var(--font-color-1);

  /*loading*/
  --loading-bg-color:color(#07192c a(70%));
  --loading-z-index:1000;
  --loading-radius:calc(var(--radius)*2);
  --loading-width:120px;
  --loading-height:100px;
  --loading-text-font-size:12px;
  --loading-text-color:#fff;
  --loading-padding: 15px;


  /* carousel */
  --carousel-transition:.5s cubic-bezier(0,0,0,1);
  --carousel-button-gutter:5px;
  --carousel-button-border:2px solid #ccc;
  --carousel-button-bg-color:color(#fff a(30%));
  --carousel-button-size:14px;
  --carousel-button-active-bg-color:#fff;
  --carousel-button-active-border:2px solid color(#ccc shade(20%));

  /*css icon*/
  --icon-arrow: #ccc;
  --icon-plus-minus: #ccc;

  /*to-top*/
  --to-top-border:1px solid #ccc;
  --to-top-bottom:50px;
  --to-top-right:40px;
  --to-top-btn-size:50px;
  --to-top-btn-bg-color:#fff;
  --to-top-icon-color:#ccc;
  --to-top-icon-size:12px;

  /*pagination*/
  --pagi-default-border-color: var(--border-color);
  --pagi-hover-border-color: var(--primary-color);
  --pagi-hover-background-color: var(--primary-color);
  --pagi-text-color: var(--font-color-2);
  --pagi-prev-next-icon-size: 18px;
  --pagi-bg-color: white;

  /*date-picker*/
  --dp-icon-font-size: 14px;
  --dp-icon-color: var(--font-color-4);

  --dp-calendar-border: 1px solid var(--border-color);

  /* table */
  --table-wrapper-bg-color: var(--default-color);
  --table-border-color: #e3e8ee;
  --table-border: 1px solid var(--table-border-color);

  /* 表头 */
  --table-head-bg-color: #f4f4f4;
  /* 尺寸 */
  --table-huge: var(--huge);
  --table-huge-font-size: 14px;
  --table-huge-padding: 10px 12px;
  --table-large: var(--large);
  --table-large-font-size: 14px;
  --table-large-padding: 10px;
  --table-big: var(--big);
  --table-big-font-size: 14px;
  --table-big-padding: 8px 10px;
  --table-medium: var(--medium);
  --table-medium-font-size: 12px;
  --table-medium-padding: 8px;
  --table-small: var(--small);
  --table-small-font-size: 12px;
  --table-small-padding: 3px 5px;
  --table-mini: var(--mini);
  --table-mini-font-size: 12px;
  --table-mini-padding: 3px;
  --table-tr-highlight-color: #fde9e2;

  /* 斑马线和滑入变色 */
  --table-stripe-bg-color: var(--default-color);
  --table-hover-bg-color: #fff3e2;

  /* 固定列时，左右移动时的固定列阴影 */
  --table-fixed-left-shadow: 6px 0 3px -3px rgba(0,0,0,.10);
  --table-fixed-right-shadow: -6px 0 3px -3px rgba(0,0,0,.10);

  /** 列宽调整的基准线 */
  --table-base-line-color: color(var(--danger-color) a(50%));
}
