:root {
  /*base color*/
  --default-color: #f1f5f9;
  --primary-color: #3b82f6;
  --primary-light-color: #eff6ff;
  --primary-gradient-color: #3b82f6;
  --danger-color: #f43f5e;
  --warning-color: #ff6818;
  --success-color: #10b981;
  --disabled-color: #e7e5e4;
  --clear-btn-color: #cbd5e1;
  --clear-btn-hover-color: #94a3b8;
  --bg-color: #fff;
  /*文本颜色*/
  --font-color-1: #333;
  --font-color-2: #666;
  --font-color-3: #999;
  --font-color-4: #ccc;
  /*尺寸*/
  --huge: 50px;
  --large: 40px;
  --big: 34px;
  --medium: 32px;
  --small: 28px;
  --mini: 24px;
  /*边框颜色，form表单相关控件的边框、分页器按钮边框*/
  --border-color: #cbd5e1;

  /*过渡*/
  --transition: 0.25s ease-out;
  /*box-shadow*/
  --box-shadow: 0 2px 5px rgba(60, 70, 80, 0.15);
  /*圆角弧度*/
  --radius: 6px;
  --layer-radius: var(--radius);
  /* input */
  --input-border-color: var(--border-color);
  --input-focus-border-color: #3b82f6;
  --input-width: 200px;
  --input-placeholder-color: #ccc;
  --input-padding: 0 0.82em;
  --input-radius: var(--radius);
  --input-color: var(--font-color-1);

  /*input组件里包括了textarea*/
  --input-textarea-padding: 0.5em 0.82em;
  --input-textarea-line-height: 1.5;

  /*input size*/
  --input-huge: var(--huge);
  --input-large: var(--large);
  --input-big: var(--big);
  --input-medium: var(--medium);
  --input-small: var(--small);
  --input-mini: var(--mini);

  /*input font-size*/
  --input-huge-font-size: 16px;
  --input-large-font-size: 16px;
  --input-big-font-size: 16px;
  --input-medium-font-size: 14px;
  --input-small-font-size: 12px;
  --input-mini-font-size: 12px;
  --input-focus-active-shadow: 0 0 2px #60a5fa,
    inset 1px 1px 2px rgba(0, 0, 0, 0.1);

  /* input clearable 颜色*/
  --input-clearable-btn-color: var(--clear-btn-color);
  --input-clearable-btn-hover-color: var(--clear-btn-hover-color);

  /* autocomplete */
  --auto-complete-icon-color: #ccc;
  --auto-complete-icon-hover-color: #999;

  /* button */
  /* button padding*/
  --button-huge: 0 30px;
  --button-large: 0 24px;
  --button-big: 0 18px;
  --button-medium: 0 15px;
  --button-small: 0 11px;
  --button-mini: 0 8px;
  /*button height*/
  --button-huge-height: var(--huge);
  --button-large-height: var(--large);
  --button-big-height: var(--big);
  --button-medium-height: var(--medium);
  --button-small-height: var(--small);
  --button-mini-height: var(--mini);
  /* button fontcolor*/
  --button-color: var(--font-color-2);
  /*圆角*/
  --button-radius: var(--radius);
  /*按钮之间的间距*/
  --button-huge-gutter: 20px;
  --button-large-gutter: 18px;
  --button-big-gutter: 15px;
  --button-medium-gutter: 12px;
  --button-small-gutter: 10px;
  --button-mini-gutter: 8px;
  /* button font-size */
  --button-huge-font-size: 18px;
  --button-large-font-size: 16px;
  --button-big-font-size: 14px;
  --button-medium-font-size: 14px;
  --button-small-font-size: 12px;
  --button-mini-font-size: 12px;
  /*默认按钮*/
  --button-default-bg-color: white;
  --button-default-border-color: var(--border-color);
  /*button active 内阴影*/
  --button-active-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  /*button 过渡*/
  --button-transition: 0.2s ease-out;
  /** button hover颜色 */
  --button-hover-primary-color: #5889ff;
  --button-hover-danger-color: #fb7185;
  --button-hover-warning-color: #ff935a;
  --button-hover-success-color: #5aa434;

  /* select */
  --select-down-size: 14px;
  --select-down-color: var(--input-border-color);
  --select-clear-size: 14px;
  --select-clear-hover-color: var(--select-down-color);
  --select-option-z-index: 99;
  --select-option-box-shadow: var(--box-shadow);
  --select-option-max-height: 28vh;
  --select-option-bg-color: var(--bg-color);
  /* option */
  --option-height: 34px;
  --option-padding: 0 0.5em;
  --option-radius: var(--radius);
  --option-hover-color: var(--primary-color);
  --option-huge-font-size: 16px;
  --option-large-font-size: 16px;
  --option-big-font-size: 14px;
  --option-medium-font-size: 14px;
  --option-small-font-size: 12px;
  --option-mini-font-size: 12px;
  /* --option-hover-bg-color: var(--primary-color) ; */
  --option-hover-bg-color: #eaeaea;
  --option-selected-color: var(--primary-color);
  --option-selected-bg-color: var(--primary-light-color);
  --option-selected-bg-gradient-color: var(--option-selected-bg-color);

  /* select2 */
  --select2-width: var(--input-width);

  /* radio */
  --radio-font-size: 14px;
  --radio-size: 14px;
  --radio-icon-text-gutter: 5px;
  --radio-gutter: 20px;
  --radio-border-color: var(--input-border-color);
  --radio-focus-active-shadow: 0 0 4px var(--primary-color);
  --radio-hover-border-color: var(--primary-color);
  --radio-disabled-bg-color: var(--disabled-color);

  /*input-number*/
  --input-number-btn-bg-color: var(--default-color);
  --input-number-hover-btn-bg-color: var(--default-color);
  --input-number-btn-color: var(--input-border-color);
  --input-number-btn-hover-color: var(--primary-color);

  /* tips */
  --tips-padding: 30px 20px;
  --tips-bg-color: rgb(255, 255, 255);
  --tips-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 8px rgba(0, 0, 0, 0.1);
  --tips-z-index: 10000;
  --tips-radius: calc(var(--radius));
  --tips-cont-color: #666;
  --tips-cont-font-size: 14px;
  --tips-cont-text-align: left;

  /*checkbox*/
  --checkbox-gutter: 20px;
  --checkbox-line-height: normal;
  --checkbox-border-color: var(--input-border-color);
  --checkbox-bg-color: #fff;
  --checkbox-radius: 4px;
  --checkbox-hover-border-color: var(--primary-color);
  --checkbox-checked-border-color: var(--primary-color);
  --checkbox-focus-active-shadow: 0 0 5px var(--primary-color);
  --checkbox-checked-bg-color: var(--primary-color);
  --checkbox-disabled-border-color: var(--disabled-color);
  --checkbox-disabled-bg-color: var(--disabled-color);
  --checkbox-checked-disabled-border-color: var(--disabled-color);

  --checkbox-disabled-text-color: var(--disabled-color);
  --checkbox-text-color: var(--font-color-2);
  --checkbox-text-font-size: 14px;
  --checkbox-checked-text-color: var(--primary-color);

  /*popup*/
  --popup-z-index: 999;
  --popup-radius: var(--radius);
  --popup-mask-bg-color: rgb(70, 80, 90, 0.5);
  --popup-container-width: 300px;
  --popup-container-bg-color: var(--bg-color);
  --popup-box-shadow: 0px 8px 10px -9px rgba(0, 0, 0, 0.25),
    0 2px 10px 0 rgba(0, 0, 0, 0.15);
  --popup-header-bg-color-1: #f8fafc;
  --popup-header-bg-color-2: #f8fafc;
  --popup-header-border-color: #f0f0f0;
  --popup-header-padding: 0 15px;
  --popup-header-height: 40px;
  --popup-header-title-font-size: 14px;
  --popup-header-title-color: var(--font-color-2);
  --popup-content-min-height: 70px;
  --popup-content-padding: 15px;
  --popup-content-bg-color: var(--bg-color);
  --popup-footer-padding: 8px 15px 8px;
  --popup-footer-text-align: right;
  --popup-footer-border-top: 1px solid #f0f0f0;
  --popup-close-btn-color: var(--font-color-2);
  --popup-close-btn-hover-color: var(--font-color-1);

  /*loading*/
  --loading-bg-color: #07192c;
  --loading-z-index: 1000;
  --loading-radius: calc(var(--radius) * 2);
  --loading-width: 120px;
  --loading-height: 100px;
  --loading-text-font-size: 12px;
  --loading-text-color: #fff;
  --loading-padding: 15px;

  /* carousel */
  --carousel-transition: 0.5s cubic-bezier(0, 0, 0, 1);
  --carousel-button-gutter: 5px;
  --carousel-button-border: 2px solid #ccc;
  --carousel-button-bg-color: #fff;
  --carousel-button-size: 14px;
  --carousel-button-active-bg-color: #fff;
  --carousel-button-active-border: 2px solid #ccc;

  /*css icon*/
  --icon-arrow: #ccc;
  --icon-plus-minus: #ccc;

  /*to-top*/
  --to-top-border: 1px solid #ccc;
  --to-top-bottom: 50px;
  --to-top-right: 40px;
  --to-top-btn-size: 50px;
  --to-top-btn-bg-color: #fff;
  --to-top-icon-color: #ccc;
  --to-top-icon-size: 12px;

  /*pagination*/
  --pagi-default-border-color: var(--border-color);
  --pagi-hover-border-color: var(--font-color-4);
  --pagi-hover-background-color: white;
  --pagi-text-color: var(--font-color-2);
  --pagi-prev-next-icon-size: 18px;
  --pagi-bg-color: white;

  --pagi-current-border-color: var(--primary-color);
  --pagi-current-text-color: var(--primary-color);
  --pagi-current-background-color: white;

  /*date-picker*/
  --dp-icon-font-size: 14px;
  --dp-icon-color: var(--font-color-4);

  --dp-calendar-border: 1px solid var(--border-color);

  /* table */
  --table-wrapper-bg-color: #f8fafc;
  --table-border-color: #dbeafe;
  --table-border: 1px solid var(--table-border-color);

  /* 表头 */
  --table-head-bg-color: #dbeafe;
  --table-head-border-color: #bfdbfe;
  --table-head-bottom-border-color: #bfdbfe;
  /* 尺寸 */
  --tb-huge: 54px;
  --tb-large: 50px;
  --tb-big: 46px;
  --tb-medium: 42px;
  --tb-small: 38px;
  --tb-mini: 34px;
  --table-huge: var(--tb-huge);
  --table-huge-font-size: 14px;
  --table-huge-padding: 10px 12px;
  --table-large: var(--tb-large);
  --table-large-font-size: 14px;
  --table-large-padding: 10px;
  --table-big: var(--tb-big);
  --table-big-font-size: 14px;
  --table-big-padding: 8px 10px;
  --table-medium: var(--tb-medium);
  --table-medium-font-size: 14px;
  --table-medium-padding: 8px;
  --table-small: var(--tb-small);
  --table-small-font-size: 12px;
  --table-small-padding: 3px 5px;
  --table-mini: var(--tb-mini);
  --table-mini-font-size: 12px;
  --table-mini-padding: 3px;
  --table-tr-highlight-color: #fef9c3;

  /* 斑马线和滑入变色 */
  --table-stripe-bg-color: #f1f5f9;
  --table-hover-bg-color: #e2e8f0;
  --table-tr-checked-bg-color: #bfdbfe;

  /* 固定列时，左右移动时的固定列阴影 */
  --table-fixed-left-shadow: 6px 0 3px -3px rgba(0, 0, 0, 0.1);
  --table-fixed-right-shadow: -6px 0 3px -3px rgba(0, 0, 0, 0.1);

  /** 列宽调整的基准线 */
  --table-base-line-color: var(--warning-color);
}
