:root {
  /*base color*/
  --default-color: #fcfcfc;
  --primary-color: #378cee;
  --danger-color: #de3400;
  --warning-color: #ffac2c;
  --success-color: #40ab56;
  --disabled-color: #e9e9e9;
  --bg-color: #fff;
  /*文本颜色*/
  --font-color-1: #333;
  --font-color-2: #666;
  --font-color-3: #999;
  --font-color-4: #ccc;

  /*过渡*/
  --transition: .25s ease-out;
  /*box-shadow*/
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /*圆角弧度*/
  --radius: 2px;
  /* input */
  --input-border-color: #dcdcdc;
  --input-width: 150px;
  --input-placeholder-color: #bbb;
  --input-padding: 0 0.5em;
  --input-radius: var(--radius);

  /*input组件里包括了textarea*/
  --input-textarea-padding: 0.5em;
  --input-textarea-line-height: 1.5;

  /*input size*/
  --input-huge: 50px;
  --input-large: 44px;
  --input-big: 36px;
  --input-medium: 30px;
  --input-small: 24px;
  --input-mini: 20px;

  /*input font-size*/
  --input-huge-font-size: 14px;
  --input-large-font-size: 14px;
  --input-big-font-size: 12px;
  --input-medium-font-size: 12px;
  --input-small-font-size: 12px;
  --input-mini-font-size: 12px;
  --input-focus-active-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);

  /* button */
  /* button padding*/
  --button-huge: 13.5px 24px;
  --button-large: 10px 20px;
  --button-big: 8.5px 18px;
  --button-medium: 4.5px 12px;
  --button-small: 4.5px 8px;
  --button-mini: 2.5px 8px;
  /* button fontcolor*/
  --button-color: var(--font-color-1);
  /*圆角*/
  --button-radius: var(--radius);
  /*按钮之间的间距*/
  --button-gutter: 10px;
  /* button font-size */
  --button-huge-font-size: 18px;
  --button-large-font-size: 16px;
  --button-big-font-size: 14px;
  --button-medium-font-size: 14px;
  --button-small-font-size: 12px;
  --button-mini-font-size: 12px;
  /*button active 内阴影*/
  --button-active-box-shadow: var(inset 1px 3px 5px rgba(0, 0, 0, .2));

  /* select */
  --select-option-z-index: 99;
  --select-option-box-shadow: var(--box-shadow);
  --select-option-max-height: 251px;
  --select-option-bg-color: var(--bg-color);
  /* option */
  --option-height: 28px;
  --option-padding: 0 6px;
  --option-hover-color: var(--primary-color);
  --option-hover-bg-color: var(--default-color);
  --option-selected-color: #fff;
  --option-selected-bg-color: var(--primary-color);


  /* radio */
  --radio-font-size: 12px;
  --radio-size: 14px;
  --radio-gutter: 20px;
  --radio-border-color: var(--input-border-color);
  --radio-hover-border-color: var(--primary-color);

  /*input-number*/
  --input-number-btn-bg-color: var(--default-color);
  --input-number-hover-btn-bg-color: color(var(--default-color) b(+5%));

  /* tips */
  --tips-padding: 20px;
  --tips-bg-color: color(rgb(60, 70, 80) a(75%));
  --tips-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  --tips-z-index: 1000000;
  --tips-radius: calc(var(--radius)*2);
  --tips-cont-color: #fff;
  --tips-cont-font-size: 14px;
  --tips-cont-text-align: center;

  /*checkbox*/
  --checkbox-gutter: 20px;
  --checkbox-line-height: 20px;
  --checkbox-border-color: var(--input-border-color);
  --checkbox-bg-color: #fff;
  --checkbox-radius: var(--radius);
  --checkbox-hover-border-color: var(--primary-color);
  --checkbox-checked-border-color: var(--primary-color);
  --checkbox-checked-bg-color: var(--primary-color);
  --checkbox-disabled-border-color: color(var(--disabled-color) b(+5%));
  --checkbox-disabled-bg-color: var(--disabled-color);
  --checkbox-checked-disabled-border-color: color(var(--disabled-color) b(+30%));
  --checkbox-text-color: var(--font-color-2);
  --checkbox-text-font-size: 12px;
  --checkbox-checked-text-color: var(--primary-color);

  /*popup*/
  --popup-z-index: 9998;
  --popup-radius: var(--radius);
  --popup-mask-bg-color: color(rgb(60,70,80) a(60%));
  --popup-container-width: 300px;
  --popup-container-bg-color: var(--bg-color);
  --popup-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  --popup-header-bg-color: #eaeaea;
  --popup-header-padding: 0 15px;
  --popup-header-height: 40px;
  --popup-header-border-color: color(var(--popup-header-bg-color) b(10%));
  --popup-header-title-font-size:14px;
  --popup-header-title-color:var(--font-color-1);
  --popup-content-min-height: 70px;
  --popup-content-padding: 15px;
  --popup-content-bg-color: var(--bg-color);
  --popup-footer-padding: 10px 15px 20px;
  --popup-footer-text-align: center;

  /*loading*/
  --loading-bg-color:color(rgb(60,70,80) a(80%));
  --loading-z-index:99999999;
  --loading-radius:calc(var(--radius)*2);
  --loading-width:150px;
  --loading-height:120px;
  --loading-text-font-size:12px;
  --loading-text-color:#fff;

  /* carousel */
  --carousel-transition:.5s cubic-bezier(0,0,0,1);
  --carousel-button-gutter:5px;
  --carousel-button-border:2px solid #ccc;
  --carousel-button-bg-color:color(#fff a(30%));
  --carousel-button-size:14px;
  --carousel-button-active-bg-color:#fff;
  --carousel-button-active-border:2px solid color(#ccc shade(20%));

  /*css icon*/
  --icon-delete: #ccc;
  --icon-arrow: #ccc;
  --icon-plus-minus: #ccc;
}
