:root {
  /*base color*/
  --default-color: #fcfcfc;
  --primary-color: #3086f6;
  --danger-color: #f06c3c;
  --warning-color: #f9aa33;
  --success-color: #40ab56;
  --disabled-color: #e9e9e9;
  --bg-color: #fff;

  /*过渡*/
  --transition: .25s ease-out;
  /*box-shadow*/
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /*圆角弧度*/
  --radius: 2px;
  /* input */
  --input-border-color: #dcdcdc;
  --input-width: 150px;
  --input-placeholder-color: #bbb;
  --input-padding: 0 0.5em;
  --input-radius: var(--radius);

  /*input组件里包括了textarea*/
  --input-textarea-padding: 0.5em;
  --input-textarea-line-height: 1.5;

  /*input size*/
  --input-huge: 50px;
  --input-large: 44px;
  --input-big: 36px;
  --input-medium: 30px;
  --input-small: 24px;
  --input-mini: 20px;

  /*input font-size*/
  --input-huge-font-size: 14px;
  --input-large-font-size: 14px;
  --input-big-font-size: 12px;
  --input-medium-font-size: 12px;
  --input-small-font-size: 12px;
  --input-mini-font-size: 12px;
  --input-focus-active-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);

  /* button */
  /* button padding*/
  --button-huge: .78em 1.5em;
  --button-large: .65em 1.35em;
  --button-big: .6em 1.2em;
  --button-medium: .43em 1em;
  --button-small: .42em 1em;
  --button-mini: .3em .5em;
  /* button fontcolor*/
  --button-color: #333;
  /*圆角*/
  --button-radius: var(--radius);
  /*按钮之间的间距*/
  --button-gutter: 10px;
  /* button font-size */
  --button-huge-font-size: 18px;
  --button-large-font-size: 16px;
  --button-big-font-size: 14px;
  --button-medium-font-size: 14px;
  --button-small-font-size: 12px;
  --button-mini-font-size: 12px;
  /*button active 内阴影*/
  --button-active-box-shadow: var(inset 1px 3px 5px rgba(0, 0, 0, .2));

  /* select */
  --select-option-z-index: 99;
  --select-option-box-shadow: var(--box-shadow);
  --select-option-max-height: 251px;
  --select-option-bg-color: var(--bg-color);
  /* option */
  --option-height: 28px;
  --option-padding: 0 6px;
  --option-hover-color: var(--primary-color);
  --option-hover-bg-color: var(--default-color);
  --option-selected-color: #fff;
  --option-selected-bg-color: var(--primary-color);


  /* radio */
  --radio-font-size: 12px;
  --radio-size: 14px;
  --radio-gutter: 20px;
  --radio-border-color: var(--input-border-color);
  --radio-hover-border-color: var(--primary-color);

  /*input-number*/
  --input-number-btn-bg-color: var(--default-color);
  --input-number-hover-btn-bg-color: color(var(--default-color) b(+5%));

  /* tips */
  --tips-padding:20px;
  --tips-bg-color:color(rgb(60,70,80) a(75%));
  --tips-box-shadow:0 3px 10px rgba(0, 0, 0, .2);
  --tips-z-index:1000000;
  --tips-radius:calc(var(--radius)*2);
  --tips-cont-color: #fff;
  --tips-cont-font-size:14px;
  --tips-cont-text-align:center;

  /*css icon*/
  --icon-delete: #ccc;
  --icon-arrow: #ccc;
  --icon-plus-minus: #ccc;
}