* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.25;
  color:var(--font-color-1);
  height: 100%;
}
:any-link {
  color:var(--font-color-3);
  text-decoration: none;
  &:hover {
    color:var(--font-color-1);
  }
}