.home {
  display:flex;
  .home__nav {
    min-height:100vh;
    width:300px;
    background-color:var(--home-nav-bg-color);
    display: flex;
    flex-direction: row-reverse;
    padding:20px;
    ul {
      
      li {
        list-style: none;
        height: 30px;
        line-height: 30px;
        text-align: right;
        a.home__currentnav {
          color:var(--font-color-5);
          text-decoration: underline;
        }
        &.home__subtitle {
          color:#eee;
          font-weight: bold;
          font-size:18px;
          text-shadow: 2px 2px rgba(0,0,0,.9);
          &:not(:first-child) {
            margin-top:20px;
          }
        }
      }
    }
  }
  .home__content {
    flex:1;
    min-height:100vh;
  }
}